<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:vi="http://schemas.visualinstaller.de/VisualInstallerWixExtension">

  <Bundle Name="Visual_Installer1" Version="1.0.0.0"
         Manufacturer="Your company name"
         UpgradeCode="e0e7cbfb-baf8-4474-b92a-abc01eb201a4"
         SplashScreenSourceFile="Resources\splash.bmp"
         IconSourceFile="Resources\icon.ico"
             >

    <!--<Update Location="http://test.laika42.com/UpdateInfo.xml"/>-->

    <!-- Payload, that has to be added to run the boostrapper application -->
    <BootstrapperApplicationRef Id='ManagedBootstrapperApplicationHost'>
      <PayloadGroupRef Id='VisualInstallerRuntimeFiles'/>
    </BootstrapperApplicationRef>


    <Variable Name='LICENSESTRING' bal:Overridable='yes' Value=''/>
    <Variable Name='SQLCONNECTIONSTRING' bal:Overridable='yes' Value=''/>
    <Variable Name="INSTALLDIR" bal:Overridable='yes' Value='[ProgramFilesFolder]MyProduct'/>
    
    <Chain>

      <PackageGroupRef Id='NetFx40Web' />

      <!-- TODO: Define the list of chained packages. -->
      <!--<MsiPackage SourceFile="path\to\your.msi" >
        <vi:ExtendedInstallSize InstallDirProperty='INSTALLFOLDER'  /> 
      </MsiPackage>-->
    
    </Chain>
  </Bundle>
</Wix>